body {
    background-color: #00c2ec;
}
#flex {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #ececec;
}
main {
    background-color: #ffffff;
}
h1 {
    color: Blue;
}